name: agriculture_guide_pro
description: المرشد الزراعي المتكامل
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  url_launcher: ^6.1.14
  share_plus: ^7.2.2

flutter:
  uses-material-design: true
  assets:
    - assets/